<h1>Liste des formations</h1>

<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile *ngFor="let course of courses">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ course.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ course.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Voir</button>
        <button mat-button color="warn" (click)="removeCourse(course.id)">
          Supprimer
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button
  mat-raised-button
  color="primary"
  (click)="openDialog('100ms', '100ms')"
>
  Ajouter un cours
</button>
